@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.google.com/specimen/Josefin+Sans');

.nav-heading {
    font-family: 'Alata', sans-serif ;
    font-weight:  400; 
    margin: 0;
    
}


.App-header {
    padding-left: 150px;
    padding-right: 160px;
    background-image: url('./desktop/image-hero.jpg');
    height: 650px;
    color: white;
}


.App-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.nav-elements {
    font-family: 'Josefin Sans', sans-serif;
    font-weight:  300;
    font-size: 15px;
    list-style-type: none;
    display: flex;
}

.nav-elements > li {
    margin-right: 10px;
}

.sub-heading-container {
    border: 2px solid white;
    height: 281px;
    width: 652px;
    margin-top: 127px;
    text-align: left;


}

.sub-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-weight:  300;
    font-size: 5vw;
    margin: 0;
    padding-left: 40px;
    padding-top: 25px;
    padding-bottom: 35px;
}

.App-navigation > img {
    width: 192px;
    height: 32px;
    margin-top: 10px;

}

.nav-elements > li { 
    transition: text-decoration 0.3s; 
}

.nav-elements > li:hover {
    text-decoration: underline;
}